@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Karla", sans-serif;
}
main {
  font-family: "Karla", sans-serif;
}
